{% comment %} AC Transit API Response Structure {% endcomment %}

{% assign pst_offset = 3600 | times: -8 %}
{% assign now_utc = "now" | date: "%s" %}
{% assign now_pst = now_utc | plus: pst_offset %}

{% assign badge_visibility_raw = trmnl.plugin_settings.custom_fields_values.badge_visibility %}
{% if badge_visibility_raw %}
  {% assign badge_visibility_str = badge_visibility_raw | join: "," %}
{% else %}
  {% assign badge_visibility_str = "delay,wheelchair" %}
{% endif %}

{% assign route_filter = trmnl.plugin_settings.custom_fields_values.route_filter | default: "" %}

{% assign bt_response = bustime-response %}
{% assign predictions = bt_response.prd %}

{% if predictions and predictions.size > 0 %}
  <div class="title_bar">
<img class="image" src="https://usetrmnl.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsiZGF0YSI6MTY1MjY4MjksInB1ciI6ImJsb2JfaWQifX0=--7d8a6b9a8829deeea72429db669ea64c191946b8/noun-bus-stop-6545346.png">
    <span class="title">{{ predictions[0].stpnm }}</span>
  </div>
{% endif %}

<div class="layout layout--col gap--xsmall">
  {% assign bus_count = 0 %}
  {% assign unique_trains = "" %}

  {% comment %} First pass: build list of unique route+destination combinations {% endcomment %}
  {% if predictions %}
    {% for pred in predictions %}
      {% if route_filter and route_filter != "" %}
        {% assign filter_string = "," | append: route_filter | append: "," %}
        {% assign search_string = "," | append: pred.rt | append: "," %}
        {% unless filter_string contains search_string %}
          {% continue %}
        {% endunless %}
      {% endif %}

      {% assign train_key = pred.rt | append: "|" | append: pred.des %}
      {% unless unique_trains contains train_key %}
        {% if unique_trains == "" %}
          {% assign unique_trains = train_key %}
        {% else %}
          {% assign unique_trains = unique_trains | append: "||" | append: train_key %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  {% endif %}

  {% comment %} Second pass: show first card for each unique train with up to 3 times {% endcomment %}
  {% if unique_trains != "" %}
    {% assign train_array = unique_trains | split: "||" %}

    {% for train_key in train_array %}
      {% if bus_count >= 4 %}
        {% break %}
      {% endif %}

      {% assign train_parts = train_key | split: "|" %}
      {% assign route = train_parts[0] %}
      {% assign destination = train_parts[1] %}

      <div class="item bg--black rounded--medium" style="padding: 10px;">
        <div class="content layout--col gap--xsmall card-content">
          {% comment %} Route and Destination Header - Two Column Layout {% endcomment %}
          <div class="flex flex--between flex--center-y gap--xsmall route-dest-row">
            <div class="value value--small text--gray-60">{{ route }}</div>
            <div class="label label--small text--gray-50 dest-text" data-clamp="2">{{ destination }}</div>
          </div>

          {% comment %} Multiple Times Row - Max 3 {% endcomment %}
          <div class="flex gap--small flex--wrap flex--center-y times-row">
            {% assign time_count = 0 %}
            {% assign has_delay = false %}

            {% for pred in predictions %}
              {% if pred.rt == route and pred.des == destination %}
                {% if time_count < 3 %}
                  <div class="bg--white rounded--small text--black">
                    <div class="value value--medium time-vertical">
                      {% if pred.prdtm %}
                        {{ pred.prdtm | date: "%-I:%M %p" }}
                      {% else %}
                        --
                      {% endif %}
                    </div>
                  </div>
                  {% assign time_count = time_count | plus: 1 %}

                  {% if pred.dly == "true" %}
                    {% assign has_delay = true %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
    
        </div>
      </div>
      {% assign bus_count = bus_count | plus: 1 %}
    {% endfor %}

    {% comment %} Third pass: if space remains, show additional cards for trains with >3 times {% endcomment %}
    {% if bus_count < 4 %}
      {% for train_key in train_array %}
        {% if bus_count >= 4 %}
          {% break %}
        {% endif %}

        {% assign train_parts = train_key | split: "|" %}
        {% assign route = train_parts[0] %}
        {% assign destination = train_parts[1] %}

        {% comment %} Count total times for this train {% endcomment %}
        {% assign total_times = 0 %}
        {% for pred in predictions %}
          {% if pred.rt == route and pred.des == destination %}
            {% assign total_times = total_times | plus: 1 %}
          {% endif %}
        {% endfor %}

        {% comment %} Only show additional card if this train has more than 3 times {% endcomment %}
        {% if total_times > 3 %}
          <div class="item bg--black rounded--medium" style="padding: 10px;">
            <div class="content layout--col gap--xsmall card-content">
              {% comment %} Route and Destination Header {% endcomment %}
              <div class="flex flex--between flex--center-y gap--xsmall route-dest-row">
                <div class="value value--small text--gray-60">{{ route }}</div>
                <div class="label label--small text--gray-50 dest-text" data-clamp="2">{{ destination }}</div>
              </div>

              {% comment %} Show times 4-6 {% endcomment %}
              <div class="flex gap--small flex--wrap flex--center-y times-row">
                {% assign time_count = 0 %}
                {% assign time_index = 0 %}
                {% assign has_delay = false %}

                {% for pred in predictions %}
                  {% if pred.rt == route and pred.des == destination %}
                    {% if time_index >= 3 and time_count < 3 %}
                      <div class="time-card">
                        <div class="value value--medium time-vertical">
                          {% if pred.prdtm %}
                            {{ pred.prdtm | date: "%-I:%M %p" }}
                          {% else %}
                            --
                          {% endif %}
                        </div>
                      </div>
                      {% assign time_count = time_count | plus: 1 %}

                      {% if pred.dly == "true" %}
                        {% assign has_delay = true %}
                      {% endif %}
                    {% endif %}
                    {% assign time_index = time_index | plus: 1 %}
                  {% endif %}
                {% endfor %}
              </div>

              {% comment %} Badges {% endcomment %}
              {% unless badge_visibility_str contains "no_badges" %}
                <div class="flex gap--xxsmall badge-row">
                  {% if badge_visibility_str contains "delay" and has_delay %}
                    <div class="bg--white rounded--small text--black label label--xsmall" style="font-weight: bold; white-space: nowrap;">DELAY</div>
                  {% endif %}
                </div>
              {% endunless %}
            </div>
          </div>
          {% assign bus_count = bus_count | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  {% if bus_count == 0 %}
    <div class="item bg--black card-vertical">
      <div class="content layout--col gap--small">
        <div class="value value--large text--white">⚠️</div>
        <div class="label label--xsmall text--gray-40">No buses</div>
      </div>
    </div>
  {% endif %}

  <div class="footer">
    <div class="label label--small text--gray-50">AC Transit</div>
  </div>
</div>